* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul {
    background-color: #152937;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}


.right-two h2,
.sec-three h2,
.sec-four h2,
.left h1 {
    font-family: Bebas Neue, sans-serif;
    font-size: 80px;
    color: #FFDDE2;
}

.head {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    background-color: #152937;
    max-width: 100%;
    height: 75px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 0px 100px 0px 100px;
    background-color: #152937;
    color: #F9FAF8;
    position: sticky;
    top: o;
    z-index: 100;
}

.navigation ul {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    justify-content: flex-end;
    gap: 20px;
    background-color: #152937;
    color: #F9FAF8;
}

/* SECTION ONE */

.sec-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #6f5e76;
    color: #EFD6D2;
}

.logo {
    font-size: larger;
    font-weight:800;
    background-color: #152937;
}

.right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.left {
    display: flex;
    flex:1;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.sec-one-text {
    display: flex;
    justify-content: left;
    align-items: left;
}

.left h1 {
    text-align: center;
    margin-bottom: 0;
}

.tt-img {
    border-radius: 50%;
    height: 200px;
    width: auto;
    border: 10px solid #EFD6D2;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 35px;
    background-color: #481E14;
    color: white;
    border-radius: 30px;
    border: 0;
}

button:hover {
    background-color: #F2613F;
    transition: 0.2s;
}

/* SECTION TWO */

.sec-two {
    display: flex;
    height: 360px;
    width: 100%;
    flex-wrap: nowrap;
    background-color: #152937;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
}

.left-two {
    flex: 1 1 50px;
    text-align: right;
    padding: 0px 30px 0px 30px;
    font-size: 25px;
    font-style:italic;
    min-width: 250px;
}

.right-two {
    flex: 1;
    min-width: 250px;
    margin-top: 15px;
}

/* SECTION THREE */

.sec-three {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #6F5E76;
}

.game-img {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: auto;
    flex: 1 0 1;
    border: 5px solid #FFDDE2
}

.game-img:hover {
    height: 270px;
    width: auto;
    transition: all 1s;
}

.game-img:not(:hover) {
    transition: all 1s;
}
.game {
    text-align: center;
    padding: 0 30px;
}

.game-text {
    font-family: Bebas Neue, sans-serif;
    font-size: 30px;
    margin-top: 8px;
    color: #FFDDE2;
}

.game,
.game-text {
    margin-bottom: 50px
}

.sec-three h2,
.sec-four h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
}

/* SECTION FOUR */

.sec-four {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #152937;
}

.sec-four h2 {
    margin-bottom: 20px;
}

.logo-img {
    height: auto;
    width: 100px;
}

.github,
.discord {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 30px;
    margin-bottom: 40px;
}

.discord {
    color: white;
}

.logo-text {
    font-size: 40px;
}

/* FOOTER */

.footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    background-color: #6F5E76;
    color:#EFD6D2;
    justify-content: center;
    align-items: center;
}